<div class="ludo-container" *ngIf="{
  positions: currentPositions$ | async,
  dice: diceValue$ | async,
  turn: turn$ | async,
  state: state$ | async,
  eligible: eligiblePieces$ | async
} as data">
  <div class="ludo">
    <div class="player-pieces">
      <ng-container *ngFor="let player of players">
        <div
          *ngFor="let piece of pieces"
          class="player-piece"
          [attr.player-id]="player"
          [attr.piece]="piece"
          [ngStyle]="getPiecePosition(getPlayerPosition(data.positions, player, piece))"
          [class.highlight]="isEligible(player, piece, data.turn!, data.eligible!)"
          (click)="onPieceClick(player, piece)"
        ></div>
      </ng-container>
    </div>

    <div class="player-bases">
      <div
        *ngFor="let player of players"
        class="player-base"
        [attr.player-id]="player"
        [class.highlight]="getActivePlayer(data.turn!) === player"
      ></div>
    </div>
  </div>

  <div class="footer">
    <div class="row">
      <button
        id="dice-btn"
        class="btn btn-dice"
        [disabled]="data.state !== GameState.DICE_NOT_ROLLED"
        (click)="rollDice()"
      >
        Roll
      </button>
      <div class="dice-value">{{ data.dice || '' }}</div>
      <button id="reset-btn" class="btn btn-reset" (click)="resetGame()">Reset</button>
    </div>
    <h2 class="active-player">Active Player: <span>{{ getActivePlayer(data.turn!) }}</span></h2>
  </div>
</div>